* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    padding-top: 30px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.submit_btn {
    margin-bottom: 24px;
    padding: 10px 14px;
    width: 150px;
}

.feedbacks {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(255, 255, 240);
}

.error_msg {
    color: red;
}